body {
    font-family:Segoe UI,Verdana,helvetica,sans-serif;
    margin-top:-1px;
}


.headerFont {
    font-size:large;
     vertical-align:central;
     
}

table {
    
    min-width:1024px;
    max-width:2048px;
    margin-left:auto;
    margin-right:auto;  
   
}

.leftmargin {
        width:160px;
        display: inline;
        float:left;
        margin-left:1em;
}
.leftmargintable {
        width:160px;
}

.rightItem {
    float:right;
}

.watermark {
    color:#AAAAAA;
}

#inputBox {
    width:500px;
}

#deepLink {
    margin-left:.5em;
    margin-right:1em;
    width:8em;
}

.headerrow {
    background-color:#FAFAFA;
    height:50px;
}

.indent {
    float:left;
    width:2em;
    display:inline-block;
}

#decodedToken {
    margin-top: 10px;
}