body {

    font-family:Segoe UI,Verdana,helvetica,sans-serif;
    margin-top:5px;
}

.headerFont {
    font-size:medium;
    
}

table {   
    min-width:1024px;
    max-width:2048px;
    margin-left:auto;
    margin-right:auto;  
}

.leftmargin {
    width:160px;
    display: inline;
    float:left;
    margin-left:1em;
}

.leftmargintable {
    width:160px;
}

.rightItem {
    float:right;
}

.watermark {
    color:#AAAAAA;
}

#inputBox {
    width:500px;
}

#deepLink {
    margin-left:.5em;
    margin-right:1em;
    width:8em;
}

.headerrow {
    background-color:#FAFAFA;
    height:50px;
}

.indent {
    float:left;
    width:2em;
    display:inline-block;
}

#decodedToken {
    margin-top: 10px;
}

.jsonField {
    color: #E40101;
}

.jsonValue {
    color:#2486B5;
}



.headerFont {
    font-size:large;
     vertical-align:central;
     
}

table {
    
    min-width:1024px;
    max-width:2048px;
    margin-left:auto;
    margin-right:auto;  
   
}

.leftmargin {
        width:160px;
        display: inline;
        float:left;
        margin-left:1em;
}
.leftmargintable {
        width:160px;
}

.rightItem {
    float:right;
}

#ExampleLink {
    margin-left:.5em;    
    margin-bottom:-10px;
    font-size:smaller;
    vertical-align:text-bottom;
    text-align:right;
    color:#AAAAAA;
    cursor:pointer;
    text-decoration:underline;
}

.watermark {
    color:#AAAAAA;
}

#inputBox {
    width:500px;
    
}

#deepLink {
    margin-left:.5em;
    margin-right:1em;
    width:8em;
}

.headerrow {
    background-color:#FAFAFA;
    height:50px;
}

.news {
    text-align:center;
    color:gray;
}
.indent {
    float:left;
    width:2em;
    display:inline-block;
}

#decodedToken {
    margin-top: 10px;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: #2486B5;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(tip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 450px;
    opacity:1;
    
}